#title{
    text-align: center;
    padding: 20px;
  }
  header {
    background-color: #b5c6e0;
    padding: 20px;
  }
  
  #result1 {
    text-align: center;
  }
  
  #result2 {
    text-align: center;
  }